.names-form-input {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  overflow: auto;
  padding: 10px;
  margin-right: 10px;
  background-color: #f9f9f9;
  white-space: nowrap;
  font-size: inherit;
}

.input-button-container {
  max-width: min(100%, 600px);
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.button-add {
  background-color: #4caf50;
}

.button-update {
  background-color: #ffc107;
}
