img {
  width: 4vw;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table {
  position: relative;
  margin: 100px auto;
  background-color: green;
  border-radius: 40px;
  width: calc(100vw - 300px);
  height: calc(100vh - 200px);
}

.outer-player-container {
  width: max(8vw, 280px);
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}

.player-info-container {
  max-width: 280px;
  overflow: auto;
  background-color: #e7e7e7;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.poker-score_str {
  font-size: 15px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #e7e7e7;
  border: 1px solid #ddd;
}

.poker-name {
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  margin-right: 10px;
  white-space: nowrap;
}

.poker-d {
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff;
  margin-right: 10px;
}

.poker-sb {
  border-radius: 5px;
  padding: 10px;
  background-color: #ffff00;
  margin-right: 10px;
}
.poker-bb {
  border-radius: 5px;
  padding: 10px;
  background-color: #00ccff;
  margin-right: 10px;
}

.current {
  background-color: #999999;
}

.current-leader {
  border: 1px solid #ff0000;
}

.poker-dollars {
  border-radius: 5px;
  padding: 10px;
  background-color: #00ff08;
}

.zero-dollars {
  background-color: #ff0000;
}

.poker-won {
  margin-left: 10px;
  border-radius: 5px;
  padding: 10px;
  background-color: #aaff00;
}

.player-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pot {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}

.actions {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}

.button-container2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.button2 {
  color: white;
  background-color: #000000;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.raise-input {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}
