img {
  height: 10vh;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table {
  position: relative;
  margin: 100px auto;
  background-color: green;
  border-radius: 40px;
  width: calc(100vw - 300px); /* Ensure it fits within the viewport */
  height: calc(100vh - 200px); /* Ensure it fits within the viewport */
}

.outer-player-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}

.player-info-container {
  max-width: 280px;
  overflow: auto;
  background-color: #e7e7e7;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.poker-name {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  flex-grow: 1;
  padding: 10px;
  background-color: #f9f9f9;
  margin-right: 10px;
}

.poker-d {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  flex-grow: 1;
  padding: 10px;
  background-color: #ffffff;
  margin-right: 10px;
}

.poker-sb {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  flex-grow: 1;
  padding: 10px;
  background-color: #ffff00;
  margin-right: 10px;
}
.poker-bb {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    flex-grow: 1;
    padding: 10px;
    background-color: #00ccff;
    margin-right: 10px;
  }

.poker-dollars {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  flex-grow: 1;
  padding: 10px;
  background-color: #00ff08;
}

.zero-dollars {
  background-color: #ff0000;
}
